# Load Data
##### In this section we are creating a nicely tabulated dataset from a sklearn bunch that has different components of the data in differenet bunches

In [18]:
from sklearn.datasets import load_iris
iris =  load_iris()

#  Structure the data into a data frame 
#### rows, columns

In [15]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [10]:
import pandas as pd
X = pd.DataFrame(data = iris.data, columns = iris.feature_names)
print(X.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [16]:
y = pd.DataFrame(data=iris.target, columns = ['irisType'])
y.head()

   irisType
0         0
1         0
2         0
3         0
4         0

In [23]:
import pandas as pd
data=pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# Descriptive Analysis of the data frame

In [19]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

In [26]:
# https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data
IrisFromUCI = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)

In [27]:
IrisFromUCI.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [32]:
IrisFromUCI.columns = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Species']
IrisFromUCI.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [33]:
IrisFromUCI.to_csv('IrisFromUCI.csv')